USE [DWH]
GO
/****** Object:  StoredProcedure [dbo].[BalancePerCustomer]    Script Date: 3/26/2025 9:46:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[BalancePerCustomer]  
@name varchar(50)  
AS  
BEGIN  
SELECT a.CustomerName, b.AccountType, b.Balance,  
(b.Balance +   
COALESCE(SUM(CASE WHEN c.TransactionType = 'Deposit' THEN c.Amount   
ELSE -c.Amount END),0)) AS CurrentBalance  
FROM DimCustomer a  
JOIN DimAccount b  
ON a.CustomerID = b.CustomerID  
LEFT JOIN FactTransaction c  
ON b.AccountID = c.AccountID  
WHERE a.CustomerName LIKE '%'+@name+'%' AND b.Status = 'active'  
GROUP BY a.CustomerName, b.AccountType, b.Balance;  
END;

