USE [DWH]
GO
/****** Object:  StoredProcedure [dbo].[DailyTransaction]    Script Date: 3/26/2025 9:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DailyTransaction]  
@start_date Date,  
@end_date Date  
AS  
BEGIN  
SELECT CONVERT(DATE,TransactionDate) AS Date,  
COUNT(TransactionDate) AS TotalTransactions,  
SUM(Amount) AS TotalAmount  
FROM FactTransaction  
WHERE CONVERT(DATE, TransactionDate) BETWEEN @start_date AND @end_date   
GROUP BY CONVERT(DATE,TransactionDate);  
END;
